*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }




        /* ESTILOS GENERALES PARA TODOS LOS HTML*/
ul{
        list-style: none;
}

        /* ESTILO LOGO */

.logo-inicial{
width: 7rem;
}

         /* ESTILOS MENU NAV */

.menu-navegacion{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 4rem;
    font-family: "Markazi Text", serif;
    font-size: 2.2rem;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #102b36;
    margin: 0;
    padding-right: 2.1rem;
} 

.nav-link{
color: #e0b973;
}

.nav-link:hover{
    color: #99b7d3 ;
}


            /* Estilo Principal */



            /* ESTILO INDEX */
.background-inicio{
        background-image:url(../assets/fondo-inicio.jpg);
        background-size: cover;
        height: 100vh;
        background-repeat: no-repeat;
}

.contenedor-main{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        flex-direction: column;
        text-align: center;
      
}   

.primer-texto{
    background-color: #f4f7f9 ;
    text-align: center;
    color: #000000;
    font-size: 1.3rem;
    font-family: "Montserrat", serif;
    margin: .625rem;
    padding: .3125rem;
}

.titulo-principal{
    background-color:#1a3b4a ;
    color: #ffffff;
    font-weight: bold;
    font-size: 3.2rem;
    font-family: "Montserrat", serif;
    margin-bottom: .3125rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-shadow: 10px 10px 10px rgba(0,0,0,0.56);
}

.boton-agenda{
    font-weight: bold;
    color: #000000 ;
    border: #000000  0.2rem solid;
    font-size: 1.3rem;
    font-family: "Montserrat", serif;
    background-color: #e0b973 ;
    border-radius: 1.875rem;
    margin-top: 3.125rem;
    margin-bottom: 1.25rem;
    padding-left: .65rem;
    padding-right: .65rem;
    padding-top: .33rem;
    padding-bottom: .335rem;
    
}

.boton-agenda:hover{
    background-color: #102b36;
    color: #e0b973;
    transition: 0.4s;
    cursor: pointer;
    border: #e0b973  0.2rem solid;
    
}

.texto-principal{
    width: 70%;
    background-color: #1a3b4a;
    font-family: "Montserrat", serif;
    font-size: 1.5rem;
    color: #e0e2e4 ;
    text-align: justify;
    margin-top: 3.125rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem; 
    padding-top: .9rem;
}


            /* ESTILOS HTMLS */

        /* titulos  */
.contenedor-titulo-inicial{
            display: flex;
            justify-content: center;
            align-items: center;
}

.titulo-inicial{
    padding: 0.625rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #063f4d;
    font-family: "Montserrat", serif;
    font-size: 3rem;
    color: #a89b26;
    border-radius: 1.875rem;
    margin-top: 1rem;
    
}

.contenedor-que-son{
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.contenedor-imagenes{
    display: flex;
    justify-content: space-around;
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
    gap: 1.25rem;
}

.pages-img{
    width: 31.25rem;
    height: 21.875rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.contenedor-uso-tipos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-around;
    align-items: space-around;
}

.subtitulo-main{
    font-family: "Montserrat", serif;
    font-size: 2.1rem;
    color: #000000;
    text-align: center;
    margin: 3rem;
    text-decoration: underline;
    text-shadow: 4px 4px 8px rgba(0,0,0,0.6);
}

.estilo-main{
    font-family: "Montserrat", serif;
    font-size: 1.3rem;
    color: #000000;
    text-align: justify;
    margin: 0;
    margin-left: 10%;
    margin-right: 10%;
}

.estilo-uso-tipos{
    font-family: "Montserrat", serif;
    font-size: 1.3rem;
    color: #000000;
    text-align: justify;
    margin-bottom: 1.25rem;
}

.p-main{
    text-align: center;
    font-family: "Montserrat", serif;
    font-size: 1.7rem;
    text-decoration: underline;
    margin-bottom: 1.5rem;

}

.contenedor-cards{
    display: flex;
    justify-content: space-around;
    margin-top: 4rem ;
    gap: 1.5rem;
    max-width: auto;
    flex-wrap: wrap;
}
    
.card-titulo{
        text-align: center;
        font-family: "Montserrat", serif;
        font-size: 2rem;
        text-decoration: underline;
        margin-bottom: 1.25rem;
        color: #e0b973;
}

.card-descripcion{
    text-align: justify;
    font-size: 1.2rem;
    color: #ffffff;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.card-color{
        background-color: #1b5a74;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
    
.img-card-tamaño{
        height: 20rem;
         box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.contenedor-conclusion{
            display: flex;
            justify-content: center;
            align-items: center;

}

.estilo-main-conclusion{
        font-family: "Montserrat", serif;
        font-size: 1.3rem;
        color: #000000;
        text-align: justify;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 4rem;
}



        /* BACKGROUND HTML */

.background-pages{
 background-color: #2e5a6b3b;
}

.background-contacto{
    background-image:url(../assets/fondo-contacto.jpg);
    background-size: cover;
    height: 50%;
    background-repeat: no-repeat;
    background-position: center 25%;
}



            /* ESTILOS NOSOTROS */


            /* FOTOS NOSOTROS */

.contenedor-imagenes-nosotros{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.25rem;
    margin: 2rem;
}

.nosotros-img{
width: 100%;
height: 30rem;
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}

.nosotros-img-director{
    width: 100%;
    height: 36rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.color-card-nosotros{    
    background-color: #1A2A30;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.color-card-texto-nosotros{
    color: #ffe600;
    font-family: "Montserrat", serif;
    font-size: 1.2rem;
    text-align: center;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.quienes-somos{
    text-align: center;
    font-family: "Montserrat", serif;
    color: #ffffff;
    margin-bottom: 1.1rem;
}

            /* SOBRE NOSOTROS */


.estilo-main-nosotros{
    margin-top: 5rem;
    margin-bottom: 0;
    color: #1A2A30;

   
}

.contenedor-nosotros-texto{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    justify-content: space-around;
    align-items: space-around;
    column-gap: 10rem;
    margin-top: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
    padding-bottom: 7rem;
}

.subrayado{
        text-decoration: underline;
}





            /* ESTILOS FOOTER*/
.contenedor-footer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color:#001c24 ;
}

.footer-col-enlaces{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    
}

.contenedor-enlaces{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-estilo{   
        font-family: "Montserrat", serif;
        font-size: 1rem;
        color: #ffffff;
        padding-right: 3.75rem;
}

.footer-p{
    color: #e0b973;
    font-family: "Montserrat", serif;
    font-size: 0.8rem;
    padding-top: 1.875rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
    
.footer-col-iconos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.titulos-footer{
    color: #e0b973;
    font-family: "Montserrat", serif;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    text-decoration: underline;
}

.redes-sociales{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.redes-sociales-iconos{
    margin: 0;
    padding: 0;
    width: 2.5rem;
    height: 2.5rem;
}

.estilo-iconos{
    padding-right: 1.875rem;
    padding-left: 1.875rem;
}

.logo-footer{
    text-align: center;
    padding-top: .3125rem;
    
}



.logo-footer-tamaño{
    width: 20%;
    height: 20%;
}



    /* ESTILOS CONTACTO */

    
.envia-mensaje{
    text-align: center;
    color: #000000;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Montserrat", serif;
    text-transform: uppercase;
}

form label{
    color: #000000;
    font-family: "Montserrat", serif;
    font-size: 1.4rem;
}

form input{
    color: #000000;
    font-family: "Montserrat", serif;
    font-size: 1.4rem;
    background-color: #ffffff;
}

form button{
    color: #000000;
    font-family: "Montserrat", serif;
    font-size: 1.4rem;
    background-color: #ffffff;
}
form textarea{
    color: #000000;
    font-family: "Montserrat", serif;
    font-size: 1.4rem;
    background-color: #ffffff;
}

.mapa{
    text-align: center;
    margin-left: 34%;
    margin-right: 34%;
}

    /* ESTILOS PREGUNTAS FRECUENTES */

    