@use "variables" as *;

.contenedor-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #001c24;

  .footer-col-enlaces {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    .titulos-footer {
      color: $color-dorado;
      font-family: $letra-principal;
      font-size: 1.5rem;
      text-align: center;
      margin-top: 1.25rem;
      margin-bottom: 1.25rem;
      text-decoration: underline;
    }

    .contenedor-enlaces {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .footer-estilo {
        font-family: $letra-principal;
        font-size: 1rem;
        color: $color-blanco;
      }
    }
  }

  .logo-footer {
    text-align: center;
    padding-top: 0.3125rem;

    .logo-footer-tamaño {
      width: 20%;
      height: 20%;
    }

    .footer-p {
      color: $color-dorado;
      font-family: $letra-principal;
      font-size: 0.8rem;
      padding-top: 1.875rem;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  }

  .footer-col-iconos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    .titulos-footer {
      color: $color-dorado;
      font-family: $letra-principal;
      font-size: 1.5rem;
      text-align: center;
      margin-top: 1.25rem;
      margin-bottom: 1.25rem;
      text-decoration: underline;
    }

    .redes-sociales {
      @include flex-general;
      text-align: center;

      .estilo-iconos {
        padding-right: 1.875rem;
        padding-left: 1.875rem;
      }
      .redes-sociales-iconos {
        margin: 0;
        padding: 0;
        width: 2.2rem;
        height: 2.2rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .contenedor-footer {
    grid-template-columns: 1fr;

    .footer-col-enlaces {
      @include flex-column;
      align-items: center;
      order: 1;

      .titulos-footer {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
      }

      .contenedor-enlaces {
        flex-direction: column;
        padding: 0;

        li {
          margin-bottom: 0.8rem;
        }

        .footer-estilo {
          font-size: 0.8rem;
        }
      }
    }

    .footer-col-iconos {
      order: 2;

      .redes-sociales {
        @include flex-general;
        text-align: center;

        .estilo-iconos {
          padding-right: 1.5rem;
          padding-left: 1.5rem;
        }
        .redes-sociales-iconos {
          width: 2rem;
          height: 2rem;
        }
      }
    }

    .logo-footer {
      order: 3;
      padding-top: 50px;

      .footer-p {
        font-size: 0.6rem;
        padding-top: 1rem;
        margin-bottom: 0.4rem;
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .contenedor-footer .footer-col-enlaces .titulos-footer {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    margin-top: 1.3rem;
  }

  .contenedor-footer .footer-col-enlaces .contenedor-enlaces .footer-estilo {
    font-size: 0.9rem;
    padding-right: 2.7rem;
    text-align: center;
  }

  .contenedor-footer .footer-col-iconos .titulos-footer {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    margin-top: 1.3rem;
  }

  .contenedor-footer .footer-col-iconos .redes-sociales .estilo-iconos {
    padding-right: 1rem;
    padding-left: 0;

    .redes-sociales-iconos {
      margin: 0;
      padding: 0;
      width: 30px;
      height: 30px;
    }
  }

  .contenedor-footer .logo-footer{
    padding-top: 1rem;

    .footer-p{
      font-size: 0.7rem;
      padding-left: 5%;
      padding-right: 5%;
    }

      .logo-footer-tamaño {
      width: 100px;
      height: 90px;
    }
  }
}

@media (min-width: 993px) and (max-width: 1200px) {


  .contenedor-footer .footer-col-enlaces .contenedor-enlaces .footer-estilo {
    font-size: 0.9rem;
    padding-right: 3.5rem;
  }

   .contenedor-footer .footer-col-iconos .redes-sociales .estilo-iconos {
    padding-right: 1rem;
    padding-left: 0;

    .redes-sociales-iconos {
      margin: 0;
      padding: 0;
      width: 30px;
      height: 30px;
    }
  }

    .contenedor-footer .logo-footer{
    padding-top: 1rem;

    .footer-p{
      font-size: 0.7rem;
      padding-left: 5%;
      padding-right: 5%;
    }

      .logo-footer-tamaño {
      width: 50%;
      height: 50%;
    }
  }
}
