@use "variables" as *;

.menu-navegacion {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 4rem;
  background-color: #102b36;
  padding-right: 2.1rem;

  .logo-inicial {
    width: 7rem;
  }

  .color-hamburguesa {
    background-color: #bec3ca;
    font-size: 1.3rem;
    margin: 0;
  }

  .nav-link {
    color: $color-dorado;
  }

  .custom-navbar {
    font-family: "Markazi Text", serif;
    font-size: 2.2rem;
    text-transform: uppercase;
    background-color: #102b36;
    border-radius: 1.25rem;

    &:hover {
      background-color: #889ca4;
      font-weight: bold;
      color: #213555;
    }
  }
}

@media (max-width: 500px) {
  .menu-navegacion {
    align-items: center;
    padding: 0;
    gap: 0;

    .custom-navbar {
      font-size: 1.5rem;
      padding: 0;
      margin: 0;
      transition: none;
    }

    .nav-link {
      margin: 0;
      padding: 0;
    }

    .custom-navbar:hover {
      background-color: #102b36;
      color: #e0b973;
      font-weight: normal;
      padding: 0;
    }
  }
}
