@use "variables" as *;

/* Creo clases para usar extend*/
%box-shadow-principal {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

%texto-blanco-centro {
  text-align: center;
  font-family: $letra-principal;
  color: $color-blanco;
}

%texto-amarillo {
  color: #ffe600;
  font-family: $letra-principal;
  text-align: center;
}

.contenedor-imagenes-nosotros {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1.25rem;
  margin: 2rem;

  .card-tamaño {
    width: 30rem;

    .nosotros-img {
      height: 30rem;
      @extend %box-shadow-principal;
    }

    .color-card-nosotros {
      background-color: #1a2a30;
      @extend %box-shadow-principal;

      .quienes-somos {
        @extend %texto-blanco-centro;
        margin-bottom: 1.1rem;
      }

      .color-card-texto-nosotros {
        @extend %texto-amarillo;
        font-size: 1.2rem;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
      }
    }
  }

  .card-tamaño-director {
    width: 35rem;

    .nosotros-img-director {
      height: 34rem;
      @extend %box-shadow-principal;
    }

    .color-card-nosotros {
      @extend %box-shadow-principal;
      background-color: #1a2a30;

      .quienes-somos {
        @extend %texto-blanco-centro;
        margin-bottom: 1.1rem;
      }

      .color-card-texto-nosotros {
        @extend %texto-amarillo;
        font-size: 1.2rem;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
      }
    }
  }
}

.background-pages {
  .contenedor-nosotros-texto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    column-gap: 10rem;
    margin-top: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
    padding-bottom: 7rem;

    .estilo-main {
      font-family: $letra-principal;
      font-size: 1.3rem;
      color: $color-negro;
      text-align: justify;
      margin: 0;
      padding-left: 8%;
      padding-right: 8%;
    }

    .contenedor-que-son {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      justify-content: center;
      align-items: center;
    }

    .subtitulo-main {
      font-family: $letra-principal;
      font-size: 2.1rem;
      color: $color-negro;
      text-align: center;
      margin: 3rem;
      text-decoration: underline;
      text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
    }
  }

  .subrayado {
    text-decoration: underline;
  }
}

// MEDIA QUERY
@media (max-width: 500px) {
  .background-pages {
    .contenedor-nosotros-texto {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      margin-left: 0;
      margin-right: 0;
    }

    .contenedor-imagenes-nosotros {
      .card-tamaño {
        width: 15rem;

        .nosotros-img {
          height: 15rem;
        }
        .color-card-nosotros {
          .quienes-somos {
            margin-bottom: 0.5rem;
          }

          .color-card-texto-nosotros {
            font-size: 0.7rem;
            width: 100%;
            padding: 0;
          }
        }
      }

      .card-tamaño-director {
        width: 18rem;

        .nosotros-img-director {
          height: 20rem;
        }

        .color-card-nosotros {
          .quienes-somos {
            margin-bottom: 0.5rem;
          }

          .color-card-texto-nosotros {
            font-size: 0.7rem;
            width: 100%;
            padding: 0;
          }
        }
      }
    }
  }
}

@media (min-width: 501px) and (max-width:1024px) {
  .background-pages {
    .contenedor-nosotros-texto {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      margin-left: 0;
      margin-right: 0;
    }

    .contenedor-imagenes-nosotros {
      flex-wrap: nowrap;
      .card-tamaño {
        width: 15rem;

        .nosotros-img {
          height: 15rem;
        }
        .color-card-nosotros {
          .quienes-somos {
            margin-bottom: 0.5rem;
          }

          .color-card-texto-nosotros {
            font-size: 0.7rem;
            width: 100%;
            padding: 0;
          }
        }
      }

      .card-tamaño-director {
        width: 18rem;

        .nosotros-img-director {
          height: 20rem;
        }

        .color-card-nosotros {
          .quienes-somos {
            margin-bottom: 0.5rem;
          }

          .color-card-texto-nosotros {
            font-size: 0.7rem;
            width: 100%;
            padding: 0;
          }
        }
      }
    }
  }
}
